@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');


:root{
    --stratos: #001B48;
    --regalBlue: #02457A;
    --bondiBlue: #018ABE;
    --morningGlory: #97CADB;
    --botticelli: #D6E8EE;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;       /*  10px = 1rem */
    font-family: 'Quicksand', sans-serif;

}